html {
  /* Smooth scroll effect */
  scroll-behavior: smooth;
}

/* HEADER */
.link_list {
  padding-top: 25px;
}
.link_list a {
  display: inline-block;
  padding: 15px 25px;
  margin-top: 20px;
  font-size: 1.4em;
}
.link_list a::after {
  content: '';
  width: 0; height: 1px;
  background-color: black;
  transition-duration: 300ms;
  display: block;
}
.link_list a:hover::after {
  width: 100%;
}

/* VIDEO */
#videos {
  padding: 2% 5%;
}
#videos > div {
  display: inline-flex;
  flex-flow: wrap;
  vertical-align: top;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#videos .container-0 {
  width: 75%;
  padding-bottom: 10px;
}
#videos .container-0 iframe {
  width: 960px;
  height: 540px;
}
#videos .container-1 {
  width: 25%;
}
#videos .container-0 .yt-text-0 {
  font-size: 1.4em;
}
@media (max-width: 1200px) {
  #videos {
    height: auto;
  }
  #videos > div {
    display: flex;
  }
  #videos .container-0,
  #videos .container-1 {
    width: auto;
  }
  #videos .container-1 iframe {
    margin: 10px 5px;
  }
}
@media (max-width: 992px) {
  #videos .container-0 iframe {
    width: 720px;
    height: 405px;
  }
}
@media (max-width: 600px) {
  #videos .container-0 iframe {
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 450px) {
  #videos .container-0 iframe {
    width: 100%;
    height: 200px;
  }
}


/* BURGER MENU */
body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }
.link_list input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.link_list label {
  display: none;
  cursor: pointer;
  user-select: none;
}
.link_list input[type=checkbox]:checked ~ ul {
  display: block;
}
.link_list input[type=checkbox]:checked ~ ul > a {
  width: 100%;
  text-align: right;
}
.logo_header_movil {
  display: none;
}

@media screen and (max-width: 900px) {
  .logo_header_movil {
    display: block;
    filter: invert();
    height: 80%;
    padding: 15px 0px 0px 20px;
  }
  .link_list ul {
    width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 0;
    z-index: 999;
    background-color: black;
    color: white;
    display: none;  /* initialy hidden */
  }
  .link_list label {
    display: block;
    font-size: 1.1em;
    margin: 0;
  }
  .link_list label:after {
    position: absolute;
    top: 30%;
    right: 20px;
    content: "\2261";
    font-size: 1.8em;
    color: white;
  }
  .link_list input[type=checkbox]:checked ~ label:after {
    color: white;
  }
}


/* EMAILJS */
#modal-correo {
  display: none;
}
