html,
body {
  padding: 0;
  margin: 0;
  /* Font Family */
  font-family: acumin-pro, sans-serif;
  /* Fix right side blank space in mobile devices */
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* Block user content (text, images) selection */
  user-select: none;
}
