/* GENERAL */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  /* padding: 5rem 0; */
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* Burger menu */
}


/* HEADER && FOOTER && SECTION */
.header {
  background-color: #d8dadeff;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .logo_header {
  margin-right: 30px;
}

.footer {
  background-color: #1e130fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 5%;
  color: white;
  font-size: 1.8em;
}
.footer .item {
  display: inline-block;
  padding: 0 25px;
}
.footer .item img {
  height: 40px;
}
.footer * {
  vertical-align: middle;
}
.footer .logo_footer {
  filter: invert();
  height: 100px;
}

.section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section_container {
  height: 100%;
}

.half_1,
.half_2 {
  height: 100%;
  width: 50%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  vertical-align: top;
  /* align-items: center; */
}
.half_1 img,
.half_2 img {
  position: absolute;
  height: 90%;
}


/* PANES */
#inicio {
  /* Special case: first panel only get's 80% of total screen height */
  height: 80vh;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/hawk-peru.appspot.com/o/LandingPage_GPSLatam%2Fpane1.png?alt=media&token=85c7c66b-b903-43f2-a561-26eff590f2b6');
}
#inicio .half_1 img {
  right: 0;
  bottom: 0;
}
#inicio .half_2 img {
  bottom: 0;
}

#plataforma {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/hawk-peru.appspot.com/o/LandingPage_GPSLatam%2Fpane2.png?alt=media&token=44b84db7-d4d1-44a7-9721-5c47285eeb1a');
}
#plataforma .half_2 {
  float: right;
}
#plataforma .half_1 img {
  bottom: 0;
}
#plataforma .half_2 div {
  color: white;
  padding-right: 10%;
  text-align: right;
}
#plataforma .half_2 div h1 {
  font-size: 4.2em;
}
#plataforma .half_2 div p {
  margin-top: -40px;
  font-size: 2.5em;
}
#plataforma .half_2 div li {
  font-size: 2.3em;
}
#plataforma .half_2 li {
  list-style: square;
}

#precio {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/hawk-peru.appspot.com/o/LandingPage_GPSLatam%2Fpane3.png?alt=media&token=84f90097-95c7-4fa7-86f0-1fe39720af29');
}
#precio .half_1 {
  display: inline-block;
  padding: 0px 10%;
  margin-top: 3.5%;
}
#precio .half_1 img {
  /* reset images properties */
  position: inherit;
  height: inherit;
}
#precio .half_1 .square {
  background-color: #fccf00ff;
  height: 25%;
  padding: 25px;
  font-size: 2em;
  border-radius: 25px;
}
#precio .half_1 .square .square_text {
  display: inline-block;
  font-size: 1.2em;
  width: 60%;
  float: left;
}
#precio .half_1 .square .square_image {
  text-align: right;
  display: inline-block;
  height: 70%;
  max-width: 30%;
  filter: brightness(0);
  margin: 5%;
}
#precio .half_1 .divider {
  height: 8%;
  margin-top: -6%;
}
#precio .half_1 .divider .divider_img {
  width: 80px;
  height: 80px;
}
#precio .half_2 .half_21 {
  height: 60%;
  top: 25%;
  left: -3%;
}
#precio .half_2 .half_22 {
  bottom: 0;
  right: 5%;
}

#contacto {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/hawk-peru.appspot.com/o/LandingPage_GPSLatam%2Fpane5.png?alt=media&token=ec8cfd6d-7260-422e-a606-0806d2394beb');
}
#contacto .half_1 > div {
  padding-left: 10%;
}
#contacto .half_1 div h1 {
  font-size: 3em;
}
#contacto .half_1 div span {
  font-size: 2.3em;
}
#contacto .half_1 div p {
  margin-bottom: 15px;
  font-size: 2em;
}
#contacto .half_1 div a {
  display: inline-flex;
  align-items: center;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
}
#contacto .half_1 div a img {
  position: unset;
  margin-right: 15px;
}
#contacto .half_1 div .wsp {
  background-color: #009938ff;
}
#contacto .half_1 div .wsp img {
  width: 40px;
  height: 40px;
}
#contacto .half_1 div .email {
  background-color: #e0030aff;
  cursor: pointer;
}
#contacto .half_1 div .email img {
  width: 40px;
  height: 32px;
}


/* Email contact modal */
.modal_container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}
.modal_container .modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(156, 155, 160);
  overflow: auto;
  border-radius: 10px;
  outline: none;
  padding: 20px;
  height: 55%;
  min-height: 300px;
  flex-direction: row;
  align-self: center;
  margin-top: 5%;
  box-sizing: content-box;
}
#formulary {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  align-self: center;
  background-color: rgb(156, 155, 160);
  border-radius: 10px;
  padding-top: 35px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
#formulary .formulary_padding_left {
  height: 100%;
  flex-direction: column;
  padding-left: 20px;
}
#formulary .indications {
  font-size: 15px;
}
#formulary .required_fields {
  margin-bottom: 20px;
}
#formulary .required_fields .mark {
  display: inline;
  color: red;
  font-size: 15px;
}
#formulary .required_fields .text {
  display: inline;
  font-size: 15px;
}
#formulary .questions_container .required_mark {
  display: inline;
  color: red;
  font-style: italic;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  width: 20px;
}
#formulary .questions_container .input {
  height: 100%;
  font-size: 1vw;
  font-style: italic!important;
  min-width: 0px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  border: 0px solid black;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  resize: none;
}
#formulary .questions_container .send {
  background-color: red;
  border-radius: 3px;
  height: 40px;
  margin-right: 10px;
  transition-duration: 0s;
  width: 80px;
  -webkit-box-pack: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#formulary .questions_container .send_button {
  display: inline;
  font-weight: bold;
  color: white;
}
#formulary .input_message {
  flex-direction: column;
  height: 100%;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
#formulary .input_message .text {
  margin-bottom: 10px;
}
#formulary .input_message .text_right {
  align-self: flex-end;
}
#formulary .input_message .textarea {
  font-family: acumin-pro;
  border-radius: 5px;
  justify-content: flex-start;
  padding: 10px;
  -webkit-box-pack: start;
  margin: 0;
}
.input_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  background-color: white;
  border-radius: 3px;
  height: 40px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding-right: 1px;
  border: 0px solid black;
}
.form_text {
  font-size: 14px;
  font-family: acumin-pro;
}
.container_flex {
  display: flex;
  align-items: stretch;
}
.flex_display {
  display: flex;
  flex: 1 1 0%;
}


@media (max-width: 1200px) {
  /* reset height of section */
  .half_1,
  .half_2 {
    width: 100%;
  }

  /* PANE 1 */
  #inicio {
    /* remove background from .section */
    background: inherit;
    /* reset height of .section */
    height: auto;
  }
  #inicio .half_1 {
    /* change height from .section to .half_1 */
    height: 80vh;
    /* change background image of section #1 */
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hawk-peru.appspot.com/o/LandingPage_GPSLatam%2Fpane1.png?alt=media&token=85c7c66b-b903-43f2-a561-26eff590f2b6');
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #inicio .half_1 img {
    /* center car image */
    right: unset;
  }
  #inicio .half_2 {
    /* set full height to .half_2 */
    height: 100vh;
  }

  /* PANE 2 */
  #plataforma {
    /* remove background from .section */
    background: inherit;
    /* reset height of .section */
    height: auto;
  }
  #plataforma .half_2 {
    float: none;
    height: auto;
    /* change background image of section #1 */
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hawk-peru.appspot.com/o/LandingPage_GPSLatam%2Fpane2.png?alt=media&token=44b84db7-d4d1-44a7-9721-5c47285eeb1a');
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 2% 10% 2%;
  }
  #plataforma .half_1 {
    /* set full height to .half_2 */
    height: 60vh;
  }
  #plataforma .half_1 img {
    height: 115%;
  }
  #plataforma .half_2 div {
    text-align: center;
    padding: unset;
  }

  /* PANE 3 */
  #precio {
    /* reset height of .section */
    height: auto;
    background-position-x: left;
  }
  #precio .half_1 {
    /* change height from .section to .half_1 */
    height: 100vh;
    padding: 0px 20%;
  }
  #precio .half_2 {
    /* set full height to .half_2 */
    height: 60vh;
  }
  #precio .half_2 .half_21 {
    height: 80%;
    top: 10%;
    left: 10%;
  }
  #precio .half_2 .half_22 {
    right: 0;
    height: 140%;
  }
  #precio .half_1 .divider {
    margin-top: -5%;
  }

  /* PANE 5 */
  /* Fix content-box propertie */
  #contacto .half_1 > div {
    margin-top: 0px;
    padding-bottom: 15px;
  }

  /* FOOTER */
  .footer {
    flex-direction: column;
  }
  .footer .logo_footer {
    width: auto;
  }
}


@media (max-width: 992px) {
  /* Fix #contacto image in mobile devices */
  #contacto {
    background-position-x: 40%;
  }

  /* FOOTER */
  .footer .contacto {
    position: relative;
    margin-top: 15px;
  }
  .footer .contacto .item {
    width: 100%;
  }
  .footer .contacto #social {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
  }
}


@media (max-width: 900px) {
  .header {
    display: block;
    background-color: black;
  }
  .header .logo_header {
    display: none;
  }

  #contacto {
    height: auto;
  }
}


@media (max-width: 600px) {
  /* Fix #inicio images size */
  #inicio .half_1 {
    height: 50vh;
  }
  #inicio .half_2 {
    height: 60vh;
  }
  /* Fix .half_1 background size and repeat */
  #inicio .half_1 {
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Fix #plataforma text size */
  #plataforma .half_2 div {
    transform: scale(.9);
  }
  /* Fix #precio hand image size */
  #plataforma .half_1 img {
    height: 105%;
  }
  /* Fix .half_2 background size and repeat */
  #plataforma .half_2 {
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* Fix text */
  #plataforma .half_2 div h1 {
    font-size: 3.2em;
  }
  #plataforma .half_2 div p,
  #plataforma .half_2 div li {
    font-size: 2em;
  }


  /* Fix #precio .square size */
  #precio .half_1 {
    transform: scale(.9);
    padding: 0px;
    height: unset;
  }
  #precio .half_1 .square {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #precio .half_1 .square .square_image {
    margin: 1%;
  }
  #precio .half_1 .divider {
    margin-top: 1%;
  }
  /* Fix #precio .half_2 images sizes */
  #precio .half_2 {
    height: 40vh;
  }
  #precio .half_2 .half_21 {
    left: 2%;
  }
  #precio .half_2 .half_22 {
    height: 120%;
  }

  /* Fix #contacto image in mobile devices */
  #contacto {
    background-position-x: 30%;
  }
  #contacto .half_1 > div {
    padding-left: 5%;
  }
  /* Fix #contacto text size */
  #contacto .half_1 div h1 {
    font-size: 2.3em;
  }
  #contacto .half_1 div span {
    font-size: 1.5em;
  }
  #contacto .half_1 div p {
    margin-bottom: 15px;
    font-size: 1.5em;
  }
  #contacto .half_1 div a
  #contacto .half_1 div form {
    padding: 10px 10px;
  }
  #contacto .half_1 div a span {
    font-size: 1.3em;
  }

  /* FOOTER */
  .footer .contacto {
    position: unset;
  }
  .footer .contacto #social {
    text-align: unset;
    margin-top: 15px;
    position: unset;
  }
}
